@page "/CreateCatalog"
@attribute [Authorize(Roles = "admin")]
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Загрузка файла</PageTitle>
<h3>Загрузка файла</h3>

<EditForm Model="@FileModelDto" OnValidSubmit="UploadFile" style="width:600px">
    <DataAnnotationsValidator/>
    <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label">Название:</label>
        <div class="col-md-10">
            <InputText id="name" class="form-control" @bind-Value=@FileModelDto.Name/>
            <ValidationMessage For="@(() => FileModelDto.Name)"/>
        </div>
    </div>
    <br />
    <label for="name" class="col-md-2 col-form-label">  :</label>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary">Загрузить Файл</button>
        </div>
    </div>
</EditForm>

@code {
    private CreateFileModelDto FileModelDto { get; set; } = new();

    private ElementReference _input;

    private Stream _fileStream = null;
       private string _selectedFileName = null;

       public void OnChooseFile(InputFileChangeEventArgs e)
       {
           var file = e.File;

           if (file == null)
               return;
           
           using (var stream = file.OpenReadStream(20000000))
           {
               _fileStream = stream;
               _selectedFileName = file.Name;
           }
       }
    private async void UploadFile(MultipartFormDataContent content)
    {
        
    }
}