@page "/Upload/{filename}"
<h3>Upload</h3>

<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label>File</label>
            <InputFile OnChange="OnChooseFile" />
            <p>0KB / 9,500KB</p>
        </div>
        <button class="btn btn-success btn-block m-1">Upload</button>
    </div>
</div>

@code {
    [Parameter]
    public string FileName { get; set; }
    private Stream _fileStream = null;
    private string _selectedFileName = null;

    public void OnChooseFile(InputFileChangeEventArgs e)
    {
        var file = e.File;

        if (file == null)
            return;

        using (var stream = file.OpenReadStream(20000000))
        {
            _fileStream = stream;
            _selectedFileName = file.Name;
        }
    }
}
