<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CorporateDb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Catalogs" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true"></span> Каталоги
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <nav class="nav-link">
                        <a href="/Profile/@context.User.Identity?.Name"
                        style="text-decoration:none; margin-left:33px;">
                            <span class="oi" aria-hidden="true" style="text-align:center;
                            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                            font-size:0.9rem;">
                                Профиль
                            </span>
                        </a>
                    </nav>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Employees" Match="NavLinkMatch.All">
                    <span class="oi" aria-hidden="true"></span> Сотрудники
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
